@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255 ,1;
  --background-start-rgb: 3, 25, 58, 1;
  --background-end-rgb: 3, 25, 58, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
}

@theme {
  --color-bg: #03193a;
  --color-white: #ffffff;
  --color-pink: #ff0960;
  --color-success: rgba(1, 175, 112, 1);
  --color-badge-new:background: linear-gradient(97.68deg, #00CF84 2.41%, #01AF70 88.33%);
  --color-badge-hot:background: linear-gradient(101.45deg, #FF654F 7.9%, #FF0960 106.93%);
  --color-black-300:#12294A



}
